<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="Films.properties"/>

    <bean id="ComedyBean"
          class="ComedyFilm"
          init-method="doInit"
          destroy-method="doDestroy"
          factory-method="getComedyFilm">
    </bean>

    <bean id="HorrorBean"
          class="HorrorFilm"
          init-method="doInit"
          destroy-method="doDestroy"
          factory-method="getHorrorFilm">
    </bean>


    <bean id="FilmPlayer"
          class="FilmPlayer"
          scope="prototype">

        <property name="filmsList">
            <list>
                <ref bean="ComedyBean"/>
                <ref bean="HorrorBean"/>
            </list>
        </property>
        <property name="name" value="${film.name}"/>
        <property name="rating" value="${film.rating}"/>
    </bean>
</beans>